.container {
  outline: 1px solid rgb(180, 180, 180);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

.img {
  margin-right: 1rem;
  border-radius: 1rem;
  background-clip: border-box;
  height: 6rem;
  width: 6rem;
  display: block;
}

.name {
  font-weight: bold;
  color: deeppink;
}

.phone {
  color: rgb(140, 140, 140);
}

.right {
  display: flex;
  flex-direction: column;
}
